In [1]:
print("Notebook is working")

Notebook is working

In [2]:
import pandas as pd
df = pd.read_csv("airline_customer_segmentation/data/flight.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'airline_customer_segmentation/data/flight.csv'

In [6]:
import pandas as pd
import numpy as np
df=pd.read_csv("../data/flight.csv")
df.head()

,MEMBER_NO,FFP_DATE,FIRST_FLIGHT_DATE,GENDER,FFP_TIER,WORK_CITY,WORK_PROVINCE,WORK_COUNTRY,AGE,LOAD_TIME,...,SUM_YR_2,SEG_KM_SUM,LAST_FLIGHT_DATE,LAST_TO_END,AVG_INTERVAL,MAX_INTERVAL,EXCHANGE_COUNT,avg_discount,Points_Sum,Point_NotFlight
0,54993,11/2/2006,12/24/2008,Male,6,.,beijing,CN,31.0,3/31/2014,...,234188.0,580717,3/31/2014,1,3.483254,18,34,0.961639,619760,50
1,28065,2/19/2007,8/3/2007,Male,6,NaN,beijing,CN,42.0,3/31/2014,...,167434.0,293678,3/25/2014,7,5.194245,17,29,1.252314,415768,33
2,55106,2/1/2007,8/30/2007,Male,6,.,beijing,CN,40.0,3/31/2014,...,164982.0,283712,3/21/2014,11,5.298507,18,20,1.254676,406361,26
3,21189,8/22/2008,8/23/2008,Male,5,Los Angeles,CA,US,64.0,3/31/2014,...,125500.0,281336,12/26/2013,97,27.863636,73,11,1.090870,372204,12
4,39546,4/10/2009,4/15/2009,Male,6,guiyang,guizhou,CN,48.0,3/31/2014,...,130702.0,309928,3/27/2014,5,4.788079,47,27,0.970658,338813,39

In [8]:
df.shape

(62988, 23)

In [9]:
df.info

<bound method DataFrame.info of        MEMBER_NO   FFP_DATE FIRST_FLIGHT_DATE  GENDER  FFP_TIER    WORK_CITY  \
0          54993  11/2/2006        12/24/2008    Male         6            .
1          28065  2/19/2007          8/3/2007    Male         6          NaN
2          55106   2/1/2007         8/30/2007    Male         6            .
3          21189  8/22/2008         8/23/2008    Male         5  Los Angeles
4          39546  4/10/2009         4/15/2009    Male         6      guiyang
...          ...        ...               ...     ...       ...          ...
62983      18375  5/20/2011          6/5/2013  Female         4    guangzhou
62984      36041   3/8/2010         9/14/2013    Male         4       foshan
62985      45690  3/30/2006         12/2/2006  Female         4    guangzhou
62986      61027   2/6/2013         2/14/2013  Female         4    guangzhou
62987      61340  2/17/2013         2/17/2013  Female         4     shanghai

      WORK_PROVINCE WORK_COUNTRY   AGE  LOAD_TIME  ...  SUM_YR_2  SEG_KM_SUM  \
0           beijing           CN  31.0  3/31/2014  ...  234188.0      580717
1           beijing           CN  42.0  3/31/2014  ...  167434.0      293678
2           beijing           CN  40.0  3/31/2014  ...  164982.0      283712
3                CA           US  64.0  3/31/2014  ...  125500.0      281336
4           guizhou           CN  48.0  3/31/2014  ...  130702.0      309928
...             ...          ...   ...        ...  ...       ...         ...
62983     guangdong           CN  25.0  3/31/2014  ...       0.0        1134
62984     guangdong           CN  38.0  3/31/2014  ...       0.0        8016
62985     guangdong           CN  43.0  3/31/2014  ...       0.0        2594
62986     guangdong           CN  36.0  3/31/2014  ...       0.0        3934
62987             .           CN  29.0  3/31/2014  ...       0.0        4222

       LAST_FLIGHT_DATE  LAST_TO_END  AVG_INTERVAL MAX_INTERVAL  \
0             3/31/2014            1      3.483254           18
1             3/25/2014            7      5.194245           17
2             3/21/2014           11      5.298507           18
3            12/26/2013           97     27.863636           73
4             3/27/2014            5      4.788079           47
...                 ...          ...           ...          ...
62983          6/9/2013          297      4.000000            4
62984          1/3/2014           89     37.000000           60
62985          3/3/2014           29    166.000000          166
62986         2/26/2013          400     12.000000           12
62987         2/23/2013          403      6.000000            6

       EXCHANGE_COUNT  avg_discount  Points_Sum  Point_NotFlight
0                  34      0.961639      619760               50
1                  29      1.252314      415768               33
2                  20      1.254676      406361               26
3                  11      1.090870      372204               12
4                  27      0.970658      338813               39
...               ...           ...         ...              ...
62983               1      0.000000       12318               22
62984              14      0.000000      106972               43
62985               0      0.000000           0                0
62986               0      0.000000           0                0
62987               0      0.000000           0                0

[62988 rows x 23 columns]>

In [10]:
df.describe

<bound method NDFrame.describe of        MEMBER_NO   FFP_DATE FIRST_FLIGHT_DATE  GENDER  FFP_TIER    WORK_CITY  \
0          54993  11/2/2006        12/24/2008    Male         6            .
1          28065  2/19/2007          8/3/2007    Male         6          NaN
2          55106   2/1/2007         8/30/2007    Male         6            .
3          21189  8/22/2008         8/23/2008    Male         5  Los Angeles
4          39546  4/10/2009         4/15/2009    Male         6      guiyang
...          ...        ...               ...     ...       ...          ...
62983      18375  5/20/2011          6/5/2013  Female         4    guangzhou
62984      36041   3/8/2010         9/14/2013    Male         4       foshan
62985      45690  3/30/2006         12/2/2006  Female         4    guangzhou
62986      61027   2/6/2013         2/14/2013  Female         4    guangzhou
62987      61340  2/17/2013         2/17/2013  Female         4     shanghai

      WORK_PROVINCE WORK_COUNTRY   AGE  LOAD_TIME  ...  SUM_YR_2  SEG_KM_SUM  \
0           beijing           CN  31.0  3/31/2014  ...  234188.0      580717
1           beijing           CN  42.0  3/31/2014  ...  167434.0      293678
2           beijing           CN  40.0  3/31/2014  ...  164982.0      283712
3                CA           US  64.0  3/31/2014  ...  125500.0      281336
4           guizhou           CN  48.0  3/31/2014  ...  130702.0      309928
...             ...          ...   ...        ...  ...       ...         ...
62983     guangdong           CN  25.0  3/31/2014  ...       0.0        1134
62984     guangdong           CN  38.0  3/31/2014  ...       0.0        8016
62985     guangdong           CN  43.0  3/31/2014  ...       0.0        2594
62986     guangdong           CN  36.0  3/31/2014  ...       0.0        3934
62987             .           CN  29.0  3/31/2014  ...       0.0        4222

       LAST_FLIGHT_DATE  LAST_TO_END  AVG_INTERVAL MAX_INTERVAL  \
0             3/31/2014            1      3.483254           18
1             3/25/2014            7      5.194245           17
2             3/21/2014           11      5.298507           18
3            12/26/2013           97     27.863636           73
4             3/27/2014            5      4.788079           47
...                 ...          ...           ...          ...
62983          6/9/2013          297      4.000000            4
62984          1/3/2014           89     37.000000           60
62985          3/3/2014           29    166.000000          166
62986         2/26/2013          400     12.000000           12
62987         2/23/2013          403      6.000000            6

       EXCHANGE_COUNT  avg_discount  Points_Sum  Point_NotFlight
0                  34      0.961639      619760               50
1                  29      1.252314      415768               33
2                  20      1.254676      406361               26
3                  11      1.090870      372204               12
4                  27      0.970658      338813               39
...               ...           ...         ...              ...
62983               1      0.000000       12318               22
62984              14      0.000000      106972               43
62985               0      0.000000           0                0
62986               0      0.000000           0                0
62987               0      0.000000           0                0

[62988 rows x 23 columns]>

In [11]:
120hz to 60hz

SyntaxError: invalid decimal literal (3928904360.py, line 1)

In [12]:
df.isnull().sum()

MEMBER_NO               0
FFP_DATE                0
FIRST_FLIGHT_DATE       0
GENDER                  3
FFP_TIER                0
WORK_CITY            2269
WORK_PROVINCE        3248
WORK_COUNTRY           26
AGE                   420
LOAD_TIME               0
FLIGHT_COUNT            0
BP_SUM                  0
SUM_YR_1              551
SUM_YR_2              138
SEG_KM_SUM              0
LAST_FLIGHT_DATE        0
LAST_TO_END             0
AVG_INTERVAL            0
MAX_INTERVAL            0
EXCHANGE_COUNT          0
avg_discount            0
Points_Sum              0
Point_NotFlight         0
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(0)