In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("../data/flight.csv")

In [3]:
df.head()

,MEMBER_NO,FFP_DATE,FIRST_FLIGHT_DATE,GENDER,FFP_TIER,WORK_CITY,WORK_PROVINCE,WORK_COUNTRY,AGE,LOAD_TIME,...,SUM_YR_2,SEG_KM_SUM,LAST_FLIGHT_DATE,LAST_TO_END,AVG_INTERVAL,MAX_INTERVAL,EXCHANGE_COUNT,avg_discount,Points_Sum,Point_NotFlight
0,54993,11/2/2006,12/24/2008,Male,6,.,beijing,CN,31.0,3/31/2014,...,234188.0,580717,3/31/2014,1,3.483254,18,34,0.961639,619760,50
1,28065,2/19/2007,8/3/2007,Male,6,NaN,beijing,CN,42.0,3/31/2014,...,167434.0,293678,3/25/2014,7,5.194245,17,29,1.252314,415768,33
2,55106,2/1/2007,8/30/2007,Male,6,.,beijing,CN,40.0,3/31/2014,...,164982.0,283712,3/21/2014,11,5.298507,18,20,1.254676,406361,26
3,21189,8/22/2008,8/23/2008,Male,5,Los Angeles,CA,US,64.0,3/31/2014,...,125500.0,281336,12/26/2013,97,27.863636,73,11,1.090870,372204,12
4,39546,4/10/2009,4/15/2009,Male,6,guiyang,guizhou,CN,48.0,3/31/2014,...,130702.0,309928,3/27/2014,5,4.788079,47,27,0.970658,338813,39

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62988 entries, 0 to 62987
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MEMBER_NO          62988 non-null  int64
 1   FFP_DATE           62988 non-null  object
 2   FIRST_FLIGHT_DATE  62988 non-null  object
 3   GENDER             62985 non-null  object
 4   FFP_TIER           62988 non-null  int64
 5   WORK_CITY          60719 non-null  object
 6   WORK_PROVINCE      59740 non-null  object
 7   WORK_COUNTRY       62962 non-null  object
 8   AGE                62568 non-null  float64
 9   LOAD_TIME          62988 non-null  object
 10  FLIGHT_COUNT       62988 non-null  int64
 11  BP_SUM             62988 non-null  int64
 12  SUM_YR_1           62437 non-null  float64
 13  SUM_YR_2           62850 non-null  float64
 14  SEG_KM_SUM         62988 non-null  int64
 15  LAST_FLIGHT_DATE   62988 non-null  object
 16  LAST_TO_END        62988 non-null  int64
 17  AVG_INTERVAL       62988 non-null  float64
 18  MAX_INTERVAL       62988 non-null  int64
 19  EXCHANGE_COUNT     62988 non-null  int64
 20  avg_discount       62988 non-null  float64
 21  Points_Sum         62988 non-null  int64
 22  Point_NotFlight    62988 non-null  int64
dtypes: float64(5), int64(10), object(8)
memory usage: 11.1+ MB

In [5]:
df.isnull().sum()

MEMBER_NO               0
FFP_DATE                0
FIRST_FLIGHT_DATE       0
GENDER                  3
FFP_TIER                0
WORK_CITY            2269
WORK_PROVINCE        3248
WORK_COUNTRY           26
AGE                   420
LOAD_TIME               0
FLIGHT_COUNT            0
BP_SUM                  0
SUM_YR_1              551
SUM_YR_2              138
SEG_KM_SUM              0
LAST_FLIGHT_DATE        0
LAST_TO_END             0
AVG_INTERVAL            0
MAX_INTERVAL            0
EXCHANGE_COUNT          0
avg_discount            0
Points_Sum              0
Point_NotFlight         0
dtype: int64

In [6]:
df[["SUM_YR_1", "SUM_YR_2"]] = df[["SUM_YR_1", "SUM_YR_2"]].fillna(0)

In [7]:
df["AGE"] = df["AGE"].fillna(df["AGE"].median())

In [8]:
df["GENDER"] = df["GENDER"].fillna("Unknown")

In [9]:
df["WORK_CITY"] = df["WORK_CITY"].fillna("Unknown")
df["WORK_PROVINCE"] = df["WORK_PROVINCE"].fillna("Unknown")
df["WORK_COUNTRY"] = df["WORK_COUNTRY"].fillna("Unknown")

In [10]:
df.isnull().sum()

MEMBER_NO            0
FFP_DATE             0
FIRST_FLIGHT_DATE    0
GENDER               0
FFP_TIER             0
WORK_CITY            0
WORK_PROVINCE        0
WORK_COUNTRY         0
AGE                  0
LOAD_TIME            0
FLIGHT_COUNT         0
BP_SUM               0
SUM_YR_1             0
SUM_YR_2             0
SEG_KM_SUM           0
LAST_FLIGHT_DATE     0
LAST_TO_END          0
AVG_INTERVAL         0
MAX_INTERVAL         0
EXCHANGE_COUNT       0
avg_discount         0
Points_Sum           0
Point_NotFlight      0
dtype: int64

In [11]:
df=df[(df["FLIGHT_COUNT"]>0)&((df["SUM_YR_1"] + df["SUM_YR_2"]) > 0)]

In [12]:
df["FFP_DATE"] = pd.to_datetime(df["FFP_DATE"])
df["LOAD_TIME"] = pd.to_datetime(df["LOAD_TIME"])
df["FIRST_FLIGHT_DATE"] = pd.to_datetime(df["FIRST_FLIGHT_DATE"])
df["LAST_FLIGHT_DATE"] = pd.to_datetime(df["LAST_FLIGHT_DATE"])

ValueError: time data "2014/2/29  0:00:00" doesn't match format "%m/%d/%Y", at position 65. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [13]:
df["FFP_DATE"] = pd.to_datetime(df["FFP_DATE"], errors="coerce")
df["LOAD_TIME"] = pd.to_datetime(df["LOAD_TIME"], errors="coerce")
df["FIRST_FLIGHT_DATE"] = pd.to_datetime(df["FIRST_FLIGHT_DATE"], errors="coerce")
df["LAST_FLIGHT_DATE"] = pd.to_datetime(df["LAST_FLIGHT_DATE"], errors="coerce")

In [14]:
df[["FFP_DATE", "LOAD_TIME", "FIRST_FLIGHT_DATE", "LAST_FLIGHT_DATE"]].isnull().sum()

FFP_DATE               0
LOAD_TIME              0
FIRST_FLIGHT_DATE      0
LAST_FLIGHT_DATE     421
dtype: int64

In [18]:
df["LOYALTY_DAYS"]=(df["LOAD_TIME"]-df["FFP_DATE"]).dt.days

In [16]:
df["MONETARY"] = df["SUM_YR_1"] + df["SUM_YR_2"]

In [19]:
df = df[df["LOYALTY_DAYS"].notna()]

In [20]:
df[["LOYALTY_DAYS", "LAST_TO_END", "FLIGHT_COUNT", "MONETARY"]].describe()

       LOYALTY_DAYS   LAST_TO_END  FLIGHT_COUNT       MONETARY
count   62044.00000  62044.000000  62044.000000   62044.000000
mean     1488.69109    172.532703     11.971359   11066.124852
std       847.88092    181.526164     14.110619   15373.362776
min       365.00000      1.000000      2.000000     162.000000
25%       735.00000     29.000000      3.000000    2800.000000
50%      1278.00000    105.000000      7.000000    5984.000000
75%      2182.00000    260.000000     15.000000   13117.000000
max      3437.00000    731.000000    213.000000  473748.000000

In [23]:
df.to_csv("../data/flight_cleaned.csv", index=False)