In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("../data/flight_cleaned.csv")
df.head()

,MEMBER_NO,FFP_DATE,FIRST_FLIGHT_DATE,GENDER,FFP_TIER,WORK_CITY,WORK_PROVINCE,WORK_COUNTRY,AGE,LOAD_TIME,...,LAST_TO_END,AVG_INTERVAL,MAX_INTERVAL,EXCHANGE_COUNT,avg_discount,Points_Sum,Point_NotFlight,LOYALITY_DAYS,MONETARY,LOYALTY_DAYS
0,54993,2006-11-02,2008-12-24,Male,6,.,beijing,CN,31.0,2014-03-31,...,1,3.483254,18,34,0.961639,619760,50,2706,473748.0,2706
1,28065,2007-02-19,2007-08-03,Male,6,Unknown,beijing,CN,42.0,2014-03-31,...,7,5.194245,17,29,1.252314,415768,33,2597,338917.0,2597
2,55106,2007-02-01,2007-08-30,Male,6,.,beijing,CN,40.0,2014-03-31,...,11,5.298507,18,20,1.254676,406361,26,2615,328600.0,2615
3,21189,2008-08-22,2008-08-23,Male,5,Los Angeles,CA,US,64.0,2014-03-31,...,97,27.863636,73,11,1.090870,372204,12,2047,241850.0,2047
4,39546,2009-04-10,2009-04-15,Male,6,guiyang,guizhou,CN,48.0,2014-03-31,...,5,4.788079,47,27,0.970658,338813,39,1816,255262.0,1816

In [3]:
features = df[
    ["LOYALTY_DAYS", "LAST_TO_END", "FLIGHT_COUNT", "MONETARY", "avg_discount"]
]

In [4]:
features.columns = ["Loyalty", "Recency", "Frequency", "Monetary", "Discount"]

In [6]:
features.describe()

           Loyalty       Recency     Frequency       Monetary      Discount
count  62044.00000  62044.000000  62044.000000   62044.000000  62044.000000
mean    1488.69109    172.532703     11.971359   11066.124852      0.722180
std      847.88092    181.526164     14.110619   15373.362776      0.184833
min      365.00000      1.000000      2.000000     162.000000      0.136017
25%      735.00000     29.000000      3.000000    2800.000000      0.613085
50%     1278.00000    105.000000      7.000000    5984.000000      0.712162
75%     2182.00000    260.000000     15.000000   13117.000000      0.809293
max     3437.00000    731.000000    213.000000  473748.000000      1.500000

In [7]:
features = features.clip(
    lower=features.quantile(0.01),
    upper=features.quantile(0.99),
    axis=1
)

In [8]:
features.describe()

            Loyalty       Recency     Frequency      Monetary      Discount
count  62044.000000  62044.000000  62044.000000  62044.000000  62044.000000
mean    1488.200809    172.335810     11.765763  10739.399961      0.722193
std      846.550828    180.954743     12.906595  13002.191703      0.181995
min      379.000000      1.000000      2.000000    627.000000      0.339444
25%      735.000000     29.000000      3.000000   2800.000000      0.613085
50%     1278.000000    105.000000      7.000000   5984.000000      0.712162
75%     2182.000000    260.000000     15.000000  13117.000000      0.809293
max     3326.000000    685.000000     70.000000  73564.660000      1.410000

In [9]:
features.isnull().sum()

Loyalty      0
Recency      0
Frequency    0
Monetary     0
Discount     0
dtype: int64

In [10]:
features.to_csv("../data/flight_features.csv",index=False)